extends base.pug 
block scripts
   script(src='/static/index.js')

block style 
       style 
         include ../static/style.css
         include ../static/styleabout.css 
block content
    section#aboutSection 
      
        div.card
           h1 about
           
           div.card-box
               div.card-content
                  p Academy branches...........
                  p Delhi near lajpatnagar 
                  p Chattisgarh 
                  p Mumbai
                  p banglore
                  p andhra pradesh
                  p vaisali noida
                  p Mumbai
                  p banglore