@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
div#logo{
    height: 15px;
}
#logo{
    display: flex;
    color: rgb(245, 240, 240);
    flex-direction: row;
    height: 200px;
    font-size: medium;
    width: 100px;
    margin-right: 40px;
    filter: invert(1);
    color: rgb(245, 240, 240);
}
#logo img{
height: 30px;
margin-bottom: 2px;
}
#navbar{
    background-color: rgb(238, 11, 11);
    padding: 10px 12px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    
}
#navbar ul{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
flex-direction: row;
font-family: 'Roboto', sans-serif;

}
#navbar li{

list-style: none;
margin: 10px 2px;
font-family: 'Roboto', sans-serif;
}
#navbar li a{
    color: rgb(245, 240, 240);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 13px 30px;
    font-family: 'Roboto', sans-serif;
}
#navbar li a:hover{
    color: rgb(39, 34, 34);
    font-size: 1rem;
    text-decoration: none;
    padding: 13px 30px;
    font-family: 'Roboto', sans-serif;
}
#introSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background: center / cover no-repeat url('/static/photos/bg.jpg');
    height: 400px;
    opacity: 0.1px;
    padding-bottom: 0.555px;
    flex-direction: column;
    font-size: 30px;
    background-color: rgb(59, 24, 214);
    color: rgb(250, 246, 245);
    font-family: 'Roboto', sans-serif;

}
#introSection div.small{
    font-size: 32px;
    height: 15px;
    
}
#sponsorsSection{
    height:250px;
    background-color: rgb(14, 12, 12);
    color: rgb(32, 28, 28);
    font-family: 'Roboto', sans-serif;
}
#sponsorsSection h2{
    text-align: center;
    padding-top: 12px;
    background-color: red;
    color: rgb(250, 246, 245);
}
#sponsors{

    height: 190px;
    max-width: 1000px;
    margin:  20px auto;
    padding: 2px 2px;
}
.spimage{
    height: 60%;
    margin: 60px 60px;
}
#missonSection{
    height: 280px;

}
#missonSection h2{
text-align: center;
padding: 12px 10px;
background-color: red;
color: rgb(245, 240, 240);
} 
.card{
    display: inline-block;
    border: 2px solid rgb(26, 23, 23);
    border-radius: 5px;
    width: 28%;
    height: 200px;
    opacity: 1.9px;
    margin: 22px;
    background-color:rgb(142 138 138);
    background-color:white;
    }
.card h3{
margin: 12px;
margin-top: 15px;
text-align: center;
padding: 12px;
font-weight: bold;
background-color: rgb(26, 15, 15);
color: white;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.card-img{
    height: 100px;
    padding: 0px 14px;
    margin: 5px 5px;
    
}
.card-img img{
    height: inherit;
}
.card-content{
    padding: 0 10px;

}
.card-content p{
    font-size: 19px;
}
#detailSection {
    height: 300PX;
}
#detailSection h2{
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: rgb(245, 240, 240);
    font-size: 25px;
    padding: 10px 10px;
}
#detailSection p{
    color: rgb(10, 9, 9);
    padding: 8px 47px;
    text-decoration: underline;
    font-size: bold;
}
#footer{
    height: 40px;
    background-color: rgb(255,0,0);
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@media ONLY SCREEN AND( min-width: 2000px) AND ( max-width: 800px){
    #missonSection{
        height: 10px;
    
    }
    .card{
        display: inline-block;
        border: 2px solid rgb(26, 23, 23);
        border-radius: 5px;
        width: 28%;
        height: 200px;
        opacity: 1.9px;
        margin: 15px;
        background-color:rgb(142 138 138);
        background-color:white;
        }
   
    .card-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
    }
    .card-img{
        height: 100px;
        padding: 0px 14px;
        margin: 5px 9px;
        
    }
    .card-img img{
        height: inherit;
    }
    .card-content{
        padding: 0 10px;
    
    }
    .card-content p{
        font-size: 16px;
    }
}
@media ONLY SCREEN AND  ( min-width: 200PX) AND ( max-width: 400PX){
     
        #detailSection {
            height: 800PX;
        }
      
     }

